body
{
	background: lightblue;
}
#output
{
    background: rgb(66, 176, 212);
    border-radius: 10px;
    border-top: 10px solid rgb(33, 85, 182);
    padding: 10px;
    float: none;
    text-align: left;
}
h4
{
    color: white;
}
